@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;700&display=swap');

body {
  font-family: 'Fira Sans', sans-serif;
  margin: 0;
  display: block;
}

.container {
  display: flex;
  margin: 0 auto;
}

.header {
  text-align: center;
}

.header-navbar {
  display: flex !important;
  justify-content: center !important;
  width: 100% !important;
}

.header-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 100%;
  margin: 2em;
  margin-bottom: 100px;
  box-sizing: border-box;
}

.central-logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  max-width: 100px;
  background: #154273;
}

.sidebar {
  padding: 1em;
  min-width: fit-content;
}

.content {
  flex: 1;
  padding: 20px;
  border-left: 1px solid lightgrey;
}

.api-docs-container {
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;

  .redoc-heading {
    padding-bottom: 1rem;
  }

  .redoc-container {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    background-color: #f1f5f9;
  }
}