@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;700&display=swap");

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Fira Sans", sans-serif;
  font-display: optional;
  display: block;
}

.container {
  display: flex;
}

.header {
  position: relative;
  text-align: left;
  padding: 0 20px;
}

.header-navbar {
  display: flex !important;
  justify-content: center !important;
}

.header-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 100%;
  margin-bottom: 50px;
  box-sizing: border-box;
}

.header-title {
  text-align: left;
  max-width: 35%;
  word-wrap: break-word;
  padding-top: 2em;

  p {
    font-size: 1rem;
  }
}

.central-logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  max-width: 50px;
  background: #154273;
}

.content-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  overflow: hidden;
}

.sidebar {
  margin-right: 20px;
  padding-left: 20px;
  padding-right: 20px;
  display: block;
  line-height: 2rem;
  box-sizing: border-box;
  min-width: 18em;

  a {
    text-decoration: none;
    color: #154273;
  }

  a:hover {
    text-decoration: underline;
  }

  summary {
    cursor: pointer;
  }

  .details-flex {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
  }

  .details-flex a {
    display: block; /* This makes each <a> take up the full width */
  }

  .subsubitem {
    border-left: 1px solid lightgrey;
    padding-left: 10px;
    margin-left: 6px;
  }

  .item {
    padding-left: 0;
  }

  .title {
    font-weight: bold;
    color: #154273;
    font-variant: small-caps;
    font-size: 1.5rem;
    margin-bottom: 10px;
  }

  .subitem {
    padding-left: 1rem;
  }

  .subsubitem {
    padding-left: 1.5rem;
  }
}

.content {
  flex: 1;
  padding-left: clamp(0.1em, 1vw, 10em);
  padding-right: clamp(0.1em, 1vw, 10em);
  margin-bottom: 20px;
  max-width: calc(100% - 18em - 40px);
  box-sizing: border-box;

  .markdown {
    width: 100%;
    max-width: 100%;

    img {
      max-width: 100%;
    }

    pre {
      background-color: #f1f5f9;
      padding: 5px 20px;
      border-radius: 5px;
      width: fit-content;
      max-width: 100%;
      overflow-x: auto;
    }
  }

  /* titles */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #154273;
  }

  /* tables */
  table {
    border-collapse: collapse;
    overflow: auto;
    display: block;
    width: fit-content;
  }
  
  th {
    background-color: #154273;
    color: white;
    padding: 10px;
    text-align: center;
  }
  
  td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
  }

  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
}

.api-docs-container {
  min-width: 100% !important;

  .redoc-heading {
    padding-bottom: 1rem;
  }

  .redoc-container {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    background-color: #f1f5f9;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: inherit;
    }
  }
}

.navbar-mobile {
  display: none;
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: -400px;
  width: 350px;
  height: 100%;
  background-color: white;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  transition: left 0.3s ease;
  font-size: 1.25rem;
  overflow-y: auto;
}

.mobile-menu.open {
  left: 0;
}

.mobile-menu .header-navbar {
  flex-grow: 1;
}

.fields-tool {
  margin: 20px 0;
  font-family: Arial, sans-serif;

  .selectors {
    margin: 15px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    overflow-y: auto;
  }

  .fields-output {
    font-family: monospace;
    background-color: #f1f5f9;
    height: 200px;
    margin: 15px 0;
    width: calc(100% - 20px);
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    overflow-y: auto
  }

  .fields-tree-level-0 {
    list-style-type: none;
    padding-left: 0;
  }

  .fields-tree-level-1,
  .fields-tree-level-2,
  .fields-tree-level-3,
  .fields-tree-level-4 {
    list-style-type: none;
    padding-left: 20px;
  }

  .field-item {
    display: flex;
    align-items: center;
    margin: 5px 0;
  }

  .field-item label {
    margin: 0 8px;
    cursor: pointer;
  }

  .toggle-button {
    padding: 0px 6px;
    min-width: 25px;
    margin-left: 5px;
    font-size: 12px;
    background-color: #f8f9fa;
    border: 1px solid #ddd;
  }

  .hidden {
    display: none;
  }

  input[type="checkbox"] {
    cursor: pointer;
  }
}

@media screen and (max-width: 768px) {
  .desktop {
    display: none;
  }

  .navbar-mobile {
    display: flex;
    align-items: center;
  }

  .content {
    max-width: 100%;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    overflow-x: auto;
  }
}
