:root {
  --primary-color: #154273;
  --secondary-color: #01689b;
  --header-height: 140px;
  --navbar-height: 70px;
  --footer-height: 70px;
}

@font-face {
  font-family: "ROsanswebtextregular";
  src:
    url("fonts/ROsanswebtextregular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: optional;
}

@font-face {
  font-family: "ROsanswebtextbold";
  src:
    url("fonts/ROsanswebtextbold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: optional;
}

@font-face {
  font-family: "ROsanswebtextitalic";
  src:
    url("fonts/ROsanswebtextitalic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: optional;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "ROsanswebtextregular", sans-serif;
}

strong,
b {
  font-family: "ROsanswebtextbold", sans-serif;
  font-weight: bold;
}

em,
i {
  font-family: "ROsanswebtextitalic", sans-serif;
  font-style: italic;
}

.header {
  position: relative;
  text-align: left;
  padding: 0 20px;
  height: var(--header-height);
}

#navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  width: auto;
  min-height: var(--navbar-height);
  background-color: #01689b;
}

#navbar nav {
  color: white;

  .title {
    font-size: 1.5rem;
    font-weight: bold;
    position: absolute;
    left: 0;
    margin: 20px;
  }
}

.header-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 100%;
  box-sizing: border-box;
}

.header-title {
  text-align: left;
  max-width: 35%;
  word-wrap: break-word;
  padding-left: 20px;
}

.logo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.logo .wrapper img {
  margin-left: -50px;
  -webkit-transform: translateX(50%);
  transform: translateX(50%);
}

.logo .wrapper img {
  width: inherit;
  max-width: 1168px;
}

.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
}

.sidebar {
  margin-right: 20px;
  padding-left: 20px;
  padding-right: 20px;
  display: block;
  line-height: 2rem;
  box-sizing: border-box;
  min-width: 14rem;
  overflow-y: auto;

  a {
    text-decoration: none;
    color: var(--primary-color);
  }

  a:hover {
    text-decoration: underline;
  }

  summary {
    cursor: pointer;
  }

  summary::marker {
    color: var(--primary-color);
  }

  .details-flex {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
  }

  .details-flex a {
    display: block;
  }

  .subsubitem {
    border-left: 1px solid lightgrey;
    padding-left: 10px;
    margin-left: 6px;
  }

  .item {
    padding-left: 0;
  }

  .title {
    font-weight: bold;
    color: var(--primary-color);
    font-size: 1.2rem;
    margin-bottom: 10px;
  }

  .subitem {
    padding-left: 1rem;
  }

  .subsubitem {
    padding-left: 1.5rem;
  }
}

.banner {
  display: none;
}

.sidebar-mobile {
  display: none;
}

.content:has(.redoc-container) {
  max-width: none;
  min-height: none;
}

.content {
  flex: 1;
  box-sizing: border-box;
  overflow-x: auto;
  max-width: 1200px;
  min-height: calc(100vh - var(--navbar-height) - var(--header-height) - var(--footer-height));
  
  .redoc-container {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    background-color: #f1f5f9;
  }

  table {
    border-collapse: collapse;
    overflow: auto;
    display: block;
    width: fit-content;
  }

  th {
    background-color: var(--primary-color);
    color: white;
    padding: 10px;
    text-align: center;
  }

  td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
  }

  tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  code {
    padding: 2px 4px;
    border-radius: 4px;
  }
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: var(--secondary-color);
  font-size: 0.8rem;
  height: var(--footer-height);
}

.menu-toggle {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  padding: 10px;
  gap: 10px;

  img {
    width: 25px;
    height: 25px;
  }
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: -101vw;
  width: 300px;
  height: 100%;
  background-color: white;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  transition: left 0.3s ease;
  font-size: 1.25rem;
  overflow-y: auto;
}

.mobile-menu.open {
  left: 0;

  .menu-toggle {
    justify-content: flex-end;
    padding: 20px;
  }

  .sidebar {
    div {
      padding-bottom: 0.5rem;

      a {
        padding-bottom: 0.5rem;
      }
    }
  }
}

.fields-tool {
  margin: 20px 0;
  padding: 20px;

  .select-search-type {
    padding: 10px;
  }

  .selectors {
    margin: 15px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    overflow-y: auto;
    max-height: 400px;
  }

  .fields-output {
    textarea {
      font-family: monospace;
      background-color: #f1f5f9;
      border: 1px solid #ddd;
      border-radius: 4px;
      padding: 10px;
      resize: none;
      width: calc(100% - 20px);
      height: fit-content;
    }

  }

  .fields-tree-level-0 {
    list-style-type: none;
    padding-left: 0;
  }

  .fields-tree-level-1,
  .fields-tree-level-2,
  .fields-tree-level-3,
  .fields-tree-level-4 {
    list-style-type: none;
    padding-left: 20px;
  }

  .field-item {
    display: flex;
    align-items: center;
    margin: 5px 0;
  }

  .field-item label {
    margin: 0 8px;
    cursor: pointer;
  }

  .toggle-button {
    padding: 4px 10px;
    font-weight: bold;
    min-width: 25px;
    margin-left: 5px;
    font-size: 12px;
    border-radius: 4px;
    border: 1px solid transparent;
  }

  .toggle-button:hover,
  .toggle-button:fo {
    background-color: #ddd;
  }

  input[type="checkbox"] {
    cursor: pointer;
  }
}

@media screen and (max-width: 768px) {
  .desktop {
    display: none;
  }

  .sidebar-mobile {
    display: block;
  }

  .banner {
    display: block;
    background-color: var(--primary-color);
  }

  .container {
    flex-direction: column;
  }

  .content {
    max-width: 100%;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    overflow-x: auto;
  }
}